.Button {
  background-color: #333;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  transition: filter 0.5s ease-in;
}

.Button:active, .Button:focus {
    filter: brightness(200%);
}

.Button.zero {
    width: 132.5px;
    grid-column: 1 / span 2;
    border-radius: 26.25px;
    position: relative;
    justify-content: flex-start;
    padding-left: 21.5px;
}

.Button.function {
    background-color: #a5a5a5;
    color: #000;
}

.Button.operator {
    background-color: #f1a33c;
}
