.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  width: 350px;
  height: 580px;
  background-color: #000;
  color: #fff;
  font-size: 22px;
  padding: 10px 10px 10px 25px;
  border-radius: 20px;
}

.top {
  height: 120px;
  padding: 0 10px;
  font-size: 12px;
}

.display {
  margin-bottom: 10px;
  text-align: right;
  font-size: 65px;
  font-weight: 300;
}

.button {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.bottom {
  background-color: #fff;
  width: 100px;
  height: 5px;
  border-radius: 2px;
  margin: 20px auto;
}

@media only screen and (min-width: 768px) {
  .App {
    margin: 20px auto;
  }
}

@media only screen and (max-width: 350px) {
  .App {
    border-radius: 0;
  }
}
